{% extends "baseAdmin.html.twig" %}
{% block title %}Ajouter un patron{% endblock %}
{% block userC %}colorlib-active{% endblock %}
{% block style %}
img{
    height:80px;
}
.boxCrea{
    border : solid 1px #634d4d;
    float:left;
    margin:5px;
    padding:5px
}
{% endblock %}
{% block contenu %}
 <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading" id="top" style="background-image: url({{ asset( 'images/banniere_patron.jpeg' ) }});">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>Ajouter un patron à une création</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->
    <div class="cardA">
        <div class="cardA-body">
            <p class="cardA-description">
                Choisissez le patron et la création à lier
            </p>
            {{ form_start(form, 
                {class : 'form-sample'}) 
            }}
            <div class="form-group">
                <label for="patron">Patron</label>
                  {{ form_row(form.patrons, 
                    {class : 'form-control'},
                    {id : 'patron'}) }}
            </div>
            <div class="form-group">
                <label for="creation">Création</label>
                  {{ form_row(form.creation, 
                    {class : 'form-control'},
                    {id : 'creation'}) }}
            </div>
            <div class="form-group">
                <label for="relation">Relation</label>
                  {{ form_row(form.relation, 
                    {class : 'form-control'},
                    {id : 'relation'}) }}
            </div>
            <button type="submit" class="btn btn-primary mr-2">Valider</button>
            {{ form_end(form) }}
        </div>
    </div>
    {% for c in pCreation %}
    <div class="boxCrea">
        {{ c.id }}
        <img src="{{ asset( c.image ) }}" alt="{{ c.image }}">
    </div>
    {% endfor %}
{% endblock %}