
{% extends "base.html.twig" %}

{% block title %} Création du {{ creation.date|date("d/m/Y") }}{% endblock %}

{% block creation %} active {% endblock %}

{% block style %}
table{
    height:0px !important;
}
td{
    min-width : 100px !important;
    border-bottom : dotted 1px #634d4d;
    padding-bottom : 5px;
    padding-top : 5px;
}

{% endblock %}



{% block contenu %}

 <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading" id="top" style="background-image: url({{ asset( 'images/banniere_creation.png' ) }});">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>Création du {{ creation.date|date("d/m/Y") }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->


    <div class="container">
        <div class="row">
        <div class="descr-single-product">

            <p id="principal">
                <img class ="imgPatron" src="{{ asset( creation.image ) }}" alt="photo du creation" />
            </p>
            <table class="descrPatron">
            
                <tr>
                    <td>
                        <a href= {{ creation.lienInsta }}>
                            <span style="color: #634d4d !important;font-size: 250% !important;" class="fa-brands fa-instagram"></span>
                        </a>
                    </td>
                    <td> <a class="lien2" href= {{ creation.lienInsta }}>Voir sur Instagram</a></td>
                </tr>

                <tr> 
                    <td class="soustitre">Tissu : </td>
                    <td>{{ creation.tissu }}</td>
                </tr>

                {% if creation.remarque == null %}
                {% else %}
                <tr> 
                    <td class="soustitre">Remarque : </td>
                    <td>
                        {{ creation.remarque }}
                    </td>
                </tr>
                {% endif %}
            </table>

        </div>

        <div id="tit-crea">Patron(s) de la création :</div>

        {% for p in creation.patrons %}
            <a class="lien" href="{{ path('patronConsulter', { 'id': p.id }) }}">
                <div class="card">
                    <div class="photoCard">
                        <img src="{{ asset( p.image ) }}" alt="image">
                    </div>
                    <div class="descrCard">
                        {{ p.nom }} </br>
                    <a href="{{ path('patronLike', { 'id': p.id }) }}" class="btn btn-link lien js-like">
                            <span class="js-likes">{{ p.likes.count }}</span>
                            {% if app.user and p.isLikedByUser(app.user) %}
                                <i class="fa-solid fa-heart"></i>
                            {% else %}
                                <i class="fa-regular fa-heart"></i>
                            {% endif %}
                            <span class="js-label">Like</span>
                        </a>
                    </div>

                </div>
            </a>
                
        {% endfor %}


</div>
</div>
{% endblock %}